In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

np.random.seed(42)

In [2]:
df = pd.read_csv('classroom_actions.csv')
df.head()

                    timestamp      id       group  total_days  completed
0  2015-08-10 17:06:01.032740  610019  experiment          97       True
1  2015-08-10 17:15:28.950975  690224     control          75      False
2  2015-08-10 17:34:40.920384  564994  experiment         128       True
3  2015-08-10 17:50:39.847374  849588  experiment          66      False
4  2015-08-10 19:10:40.650599  849826  experiment          34      False

In [8]:
# Create dataframe with all control records
control_df = df.query('group == "control"')

# Compute completion rate
control_ctr = control_df.completed.mean()

# Display completion rate
control_ctr

0.37199519230769229

In [9]:
# Create dataframe with all experiment records
experiment_df = df.query('group == "experiment"')

# Compute completion rate
experiment_ctr = experiment_df.completed.mean()

# Display completion rate
experiment_ctr

0.39353348729792148

In [10]:
# Compute observed difference in completion rates
obs_diff = experiment_ctr - control_ctr

# Display observed difference in completion rates
obs_diff

0.02153829499022919

In [ ]:
# Create sampling distribution for difference in completion rates
# with boostrapping
diffs = []
size = df.shape[0]
for _ in range(10000):
    sample = df.sample(size, replace = True)
    control_df = sample.query('group == "control"')
    control_ctr = control_df.completed.mean()
    experiment_df = sample.query('group == "experiment"')
    experiment_ctr = experiment_df.completed.mean()
    diffs.append(experiment_ctr - control_ctr)

In [ ]:
# convert to numpy array
diffs = np.array(diffs)

In [ ]:
# plot distribution
plt.hist(diffs);

In [15]:
# create distribution under the null hypothesis
null_vals = np.random.normal(0, diffs.std(),10000)

In [ ]:
# plot null distribution
plt.hist(null_vals);

# plot line for observed statistic
plt.axvline( x = obs_diff, color = 'red')

In [ ]:
# compute p value