In [1]:
# Import packages
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# Write you code here to perform the t-test
df = pd.read_csv('Customer Support Time Study.csv')
df.head()

   Nathaly   Joey
0    15.06  19.53
1    15.43  17.41
2    15.91  14.30
3    15.10  15.83
4    16.16  17.01

In [4]:
stats.ttest_ind(df.Nathaly, df.Joey, equal_var=True)

Ttest_indResult(statistic=-2.5569719803766966, pvalue=0.01980878560803262)